.embla {
  padding: 1.6rem;
  position: relative;
  width: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc((1rem) * -1);
}
.embla__slide {
  flex: 0 0 100%;
  /* min-width: 0;
  padding-left: 1rem;
  position: relative; */
}
.embla__slide__img {
  display: block;
  height: 19rem;
  width: 100%;
  object-fit: cover;
}
